@import "colors";

.profile-pic {
	display: inline-block;
	/*background-image: url("http://www.themeparkinsider.com/assets/PROF_NewUserIcon.png");*/
	background-color: blue;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

p {
	display: inline-block;
	font-size: 3rem;
}