@import "colors";

.profile-pic {
	display: inline-block;
	background-size: cover;
	margin-right: 10px;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.username {
	display: inline-block;
	font-size: 3rem;
}

.aligner {
	display: flex;
	justify-content: center;
}