<div ng-show="!showListView">
	<h3>Edit Pin</h3>
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="newPin.title"/>
                <label>URL</label>
                <input type="text" class="form-control" placeholder="URL" ng-model="newPin.url"/>
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" ng-model="newPin.description"/>
            </div>
            <button class="btn btn-primary" ng-href="#!/home">Back to Pins</button>
            <button class="btn btn-warning" ng-click="addNewPin()">Save Changes</button>
        </form>
</div>