<div>
	<h1 class="text-center">Find Your Inspiration</h1>
</div>
<div>
  <input type="text" class="input-lg col-lg-4 col-lg-offset-4" placeholder="Search" ng-model="searchText">
</div>
 <div class="clearfix"></div>

<div ng-repeat="item in pins | filter: searchText">
	<div class="panel panel-success col-md-4">
		<div class="panel-heading">
			<h3 class="panel-title" ng-href="#!/home/{{item.boardId}}"><a>{{item.title}}</a></h3>
    </div>
    <div class="panel-body">
	    <img ng-src="{{item.url}}">  
	    <p>{{item.title}}
		    <button class="btn label-primary fa fa-thumb-tack  navbar-right col-md-2 col-md-offset-1" ng-href="#!/chooseBoard"></button>
	    </p>
	  </div>
	</div>
</div>