<div class="header"></div>
<nav class="navbar navbar-default" ng-controller="NavCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#!home"><img class="logo" ng-src="/logo/inspireApp.png" ng-if="user.uid"></a>  
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-if="user.uid">
            <li><a ng-href="#!home"><i class="fa fa-bandcamp fa-2x icon"></i></a></li>
            <li><a ng-href="#!userProfile"><i class="fa fa-user-circle fa-2x" style="color: blue;"></i></a></li>
          <li><a ng-href="#!/logout">Logout</a></li>
 
        </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="!user.uid">
          <li><a ng-href="#!/auth">Authenticate</a></li>
      </ul>
    </div>
    </div>    
</nav>


