<div ng-show="!showListView">
	<h3>New Pin</h3>
        <form>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" placeholder="Title" ng-model="newPin.title"/>
                <label>URL</label>
                <input type="text" class="form-control" placeholder="URL" ng-model="newPin.url"/>
                <label>Description</label>
                <input type="text" class="form-control" placeholder="Description" ng-model="newPin.description"/>
            </div>
        </form>
</div>