<div class="container">
    <div class="row">
		<div class="aligner">
		  <input type="text" class="input-lg col-lg-4" placeholder="Search Boards" ng-model="searchText">
		</div>

        <div class="aligner">
			<img class="profile-pic" src="{{user.profile_pic}}">
			<p class="username">{{user.username}}</p>
        </div>

		<div class="btn-group btn-group-justified" role="group">
		  <div class="btn-group" role="group">
		    <a ng-href="#!/userProfile-Board"><button type="button" class="btn btn-default active">Boards</button></a>
		  </div>
		  <div class="btn-group" role="group">
		    <a ng-href="#!/userProfile-Pin"><button type="button" class="btn btn-default">Pins</button></a>
		  </div>
		</div>

	<div class="row">
	    <div class="col-sm-3">
	    	<h3 class="create-board-title">Create New Board</h3>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Let's Get Inspired</h3>
			  </div>
			  <div class="panel-body">
			    <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
			  </div>
			</div>
		</div>

		<div ng-repeat="board in boards | filter: searchText"" class="col-sm-3"> 
		    <div class="panel panel-default">
				<div class="panel-heading">
				    <p class="panel-title"><a ng-href="#!/viewBoard/{{board.id}}">{{board.title}}</a></p>
				    <div class="pull-right">
					    <button class="btn btn-primary fa fa-pencil" ng-click="deleteBoard()"></button>
					    <button class="btn btn-danger fa fa-trash-o" ng-click="deleteBoard()"></button>
				    </div>
				</div>
		        <div class="panel-body">
		            <!-- <button class="btn btn-danger fa fa-trash-o" ng-click="deleteBoard()"></button> -->
		        </div>
		    </div>
		</div>

	</div>
			
    </div>
</div>


