<div class="container">
    <div class="row">
		<div class="aligner">
		  <input type="text" class="input-lg col-lg-4" placeholder="Search" ng-model="searchText">
		</div>

        <div class="aligner">
			<img class="profile-pic" src="{{user.profile_pic}}">
			<p class="username">{{user.username}}</p>
        </div>

	    <div class="col-sm-3">
	    	<h3 class="create-board-title">Create New Board</h3>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Let's Get Inspired</h3>
			  </div>
			  <div class="panel-body">
			    <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
			  </div>
			</div>
		</div>
			
    </div>
</div>


<div ng-repeat="board in boards"> 
	    <div class="panel panel-default">
	        <div class="panel-body">
	            <!-- <div class="col-sm-3">
	            	<input type="checkbox" name="" ng-model="board.title"/>
	            </div> -->
	            <p>{{board.title}}</p>
	            <h3>boards should be here</h3>
	            <button class="btn btn-danger fa fa-trash-o"></button></div>
	        </div>
	    </div>
	</div>

<h2>Im on the user-profile-board.html</h2>
<!-- <input type="text" name="" placeholder="Search for .... " ng-model="searchText">
	<h3>Todo List</h3>
	<div ng-repeat="item in items | orderBy: 'dueDate'| filter:{isCompleted:false}  | filter: searchText"> 
	    <div class="panel panel-default">
	        <div class="panel-body">
	            <div class="col-xs-1">
	            	<input type="checkbox" name="" ng-model="item.isCompleted" ng-checked="item.isCompleted" ng-change="inputChange(item)"/>
	            </div>
	            <div class="col-xs-7"><a ng-href="#!/item/view/{{item.id}}">{{item.task}}</a></div>
	            <div class="col-xs-2">{{item.dueDate | date:'shortDate'}}</div>
	            <div class="col-xs-1">{{item.assignedTo}}</div>            
	            <div class="col-xs-1">
	            <button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button></div>
	        </div>
	    </div>
	</div>

	<h3>Completed</h3>
	<div ng-repeat="item in items | filter:{isCompleted:true}">
	    <div class="panel panel-default">
	        <div class="panel-body">
	            <div class="col-xs-1"><input type="checkbox" name="" ng-model="item.isCompleted" ng-checked="item.isCompleted" ng-change="inputChange(item)"/></div>
	            <div class="col-xs-7"><a ng-href="#!/item/view/{{item.id}}">{{item.task}}</a></div>
	            <div class="col-xs-1  col-xs-offset-2">{{item.assignedTo}}</div>            
	            <div class="col-xs-1"><button class="btn btn-danger fa fa-trash-o" ng-click="deleteItem(item.id)"></button></div>
	        </div>
	    </div>
	</div> -->