<h1>Title: {{selectedBoard.title}}</h1>
<button class="btn btn-warning"><a ng-href="#!/newBoard/{{selectedBoard.id}}">Edit</a></button>
<h2> outside</h2>
<div ng-repeat="pin in pins" class="col-sm-4">
    <div class="panel panel-default">
        <h2> the pins should be displayed here</h2>
        <div class="panel-body" ng-href="#!/home/{{pin.boardId}}">
			<a>
	            <img ng-src="{{pin.url}}">
	            <p>{{pin.title}}</p>
            </a>
        </div>
<div class="panel panel-default col-md-6 col-md-offset-3">
    <div class="panel-body " ng-href="#!/home/{{selectedPin.id}}">
        <a>
            <img ng-src="{{selectedPin.url}}">
            <p>{{selectedPin.title}}</p>
        </a>
    </div>
</div>
